<div class="weather-container">
  <h1>Consulta el Tiempo</h1>
  <form [formGroup]="weatherForm" (ngSubmit)="getCoordinatesByCity()">
    <input type="text" placeholder="Ciudad" formControlName="cityName" />
    <button type="submit">Consultar</button>
    <button type="button" (click)="removeWeatherList()" >Eliminar</button>
  </form>
  <section class="weather-card-container">
    <div *ngFor="let weather of weatherList" class="weather-card" >
      <app-weather-card
        [id]="weather.id"
        [cityName]="weather.cityName ? weather.cityName : weather.name "
        [temperature]="weather.main.temp"
        [weatherDescription]="weather.weather[0].description"
        [humidity]="weather.main.humidity"
        [windSpeed]="weather.wind.speed"
        [weatherIconUrl]="weather.weatherIconUrl"
        [state]="weather.state"
        (removeCard)="removeCard($event)"
      ></app-weather-card>
    </div>
  </section>
</div>
