<div class="weather-container">
  <header>
    <h1>Weather App</h1>
    <div class="header-buttons">
      <button type="button" (click)="saveWeatherList()">
        Save List <i class="fa fa-solid fa-save"></i>
      </button>
      <button type="button" (click)="getWeatherList()">
        Your list <i class="fa fa-solid fa-star"></i>
      </button>
    </div>
  </header>
  <form [formGroup]="weatherForm" (ngSubmit)="getCoordinatesByCity()">
    <input type="text" placeholder="City name" formControlName="cityName" />
    <button type="submit">Search <i class="fa fa-solid fa-search"></i></button>
    <button type="button" (click)="removeWeatherList()">
      Clear <i class="fa fa-solid fa-trash"></i>
    </button>
  </form>
  <section class="weather-card-container">
    <div
      *ngFor="let weather of weatherList; let i = index"
      [ngClass]="{ 'weather-card': i !== 0 }"
    >
      <app-weather-card
        [id]="weather.id"
        [isMainCard]="isMainCard(i)"
        [cityName]="weather.cityName ? weather.cityName : weather.name"
        [temperature]="weather.main.temp"
        [weatherDescription]="weather.weather[0].description"
        [humidity]="weather.main.humidity"
        [windSpeed]="weather.wind.speed"
        [weatherIconUrl]="weather.weatherIconUrl"
        [state]="weather.state"
        (removeCard)="removeCard($event)"
      ></app-weather-card>
    </div>
  </section>
</div>
