.weather-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 9px;
  width: 100%;
  min-width: 10em;
  border: none;
  &:focus-visible {
    box-shadow: 0px 0px 2px rgb(18 33 65);
    outline: none;
  }
}

button {
  padding: 5px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  h1,
  .header-buttons {
    display: flex;
    margin-left: auto;
    gap: 5%;
  }
}

.weather-card {
  width: 20%;
}

.weather-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85vw;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .weather-card, .main-card {
    width: 100%;
  }
}
