.weather-card {
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  background-color: #122141;
  color: white;
  position: relative;
  width: 100%;
  &-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    i {
      font-size: xxx-large;
    }
  }

  .close-icon {
    position: absolute;
    opacity: 0.5;
    right: 1em;
    cursor: pointer;
  }

  &-body p {
    margin: 5px 0;
  }
}

.main-card {
  max-width: none;
  width: 83.5vw;
  height: 35vh;
  font-size: x-large;
  background-image: url("../../../assets/cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
